<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/modules.css">
    <script src="https://kit.fontawesome.com/4041ed350e.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>
    <%- include('../../views/layout/header') %>
    <main>
        <h1>Hello World!</h1>
    </main>
    <%- include('../../views/layout/footer') %>
    <script src="/app.js"></script>

</body>

</html>