<div class="wrapper">
    <div class="push"></div>
  </div>
<footer class="footerOne ">

    <div class="footerTwo">

        <h3> Node <span>titan</span></h3>

        <p class="footerThree">
            <a href="#">Home</a>
            ·
            <a href="#">About-Us</a>
            ·
            <a href="#">Contact</a>
        </p>


        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>

    <div class="footerFour">

        <p>Contact Us</p>

        <form>

            <input type="text" name="email" placeholder="Email">
            <textarea name="message" placeholder="Message"></textarea>
            <button>Send</button>

        </form>

    </div>

</footer>