<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-page</title>
</head>

<body id="signIn">
    <div id="login" class="animated bounce">
        <h2>login</h2>
        <form action=""  method="POST">
            <div class="input">
                <label for="name" class="entypo-user"></label>
                <input type="text" name="username" id="name" placeholder="username" />
            </div>
            <div class="input">
                <label for="name" class="entypo-lock"></label>
                <input type="password" name="password" " id="pw " placeholder="•••••• " />
            </div>
            <input type="submit" value="Sign In " />
           <p>You do not have an account? <a href='/sign-up' target="_blank" rel="noopener noreferrer">Register now</a> </p> 

        </form>
          
    </div>
</body>

</html>