<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./layout/head') %>
    <link rel="stylesheet" href="../styles/aboutUs.css">
    <title>About Us</title>
</head>
<body>
<%- include('./layout/header') %>

    <main>
        <div class="team" id="team">
            <!-- <div class="container2"> -->
            <h3 class="title">Node Titans Team</h3>
            <div class="team-grids">
                <div class="col-xs-4 team-grid">
                    <div class="pic">
                        <div class="stack twisted">
                            <img src="../img/duha.PNG" alt=" " class="img-responsive">
                        </div>
                    </div>
                    <h4>Duha Al-Azzm</h4>
                </div>
                <div class="col-xs-4 team-grid">
                    <div class="pic">
                        <div class="stack twisted">
                            <img src="./img/monther.PNG" alt=" " class="img-responsive">
                        </div>
                    </div>
                    <h4>Monther Al-Khawaldeh</h4>
                </div>
                <div class="col-xs-4 team-grid">
                    <div class="pic">
                        <div class="stack twisted">
                            <img src="https://drive.google.com/file/d/1z4MvduEEJLsXw3xFpx_ehTfV8NlrESfq/view?usp=sharing" alt=" " class="img-responsive">
                        </div>
                    </div>
                    <h4>Manar AbdelKarim</h4>
                </div>
                <div class="col-xs-4 team-grid">
                    <div class="pic">
                        <div class="stack twisted">
                            <img src="../img/noura.PNG" alt=" " class="img-responsive">
                        </div>
                    </div>
                    <h4>Noura Al-Quraan </h4>
                </div>
                <div class="col-xs-4 team-grid">
                    <div class="pic">
                        <div class="stack twisted">
                            <img src="../img/obada.PNG" alt=" " class="img-responsive">
                        </div>
                    </div>
                    <h4>Obada Al-Athamneh</h4>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    </main>
    <%- include('./layout/footer') %>

</body>
</html>