<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head') %>

    <body>

            <main>
                <h1>ERROR!!</h1>
                <details>
                    <summary>You are facing an error, click here for more details</summary>
                    <p>
                             Error Message: <%= err %>
                    </p>
                 
                </details>
            </main>

    </body>

</html>