
.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(378px, 1fr));
    grid-gap: 40px;
    align-items: stretch;
    }
  .grid > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    height:372px; 
    position: relative; 
  }
  .grid > article img {
    max-width: 100%;
  }
  .text {
    padding: 0 20px 20px;
  }
  .text > button {
    background: #ffc139;
    border: 0;
    color: white;
    padding: 10px 0px 10px 10px;
    width: 90%;
    margin-top: 5%;
    position: absolute;
    bottom: 7px; 
}
.btn1{
  background: #ffc139;
  border: 0;
  color: white;
  padding: 10px 0px 10px 10px;
  width: 90%;
  margin-top: 5%;
  position: absolute;
  bottom: 7px; 
}
/********************************************************* about Us css*********************************************************************** */
/* -------------------------------------------------------------------------------------------- ---------------------------------*/


@media (max-width: 900px) {

   div .col-xs-4{
    width: 300px;
    height: 350px;
  }
    div .team-grids{
    width: 300px;

    margin:auto;
  } 
}


h3.title {
  color: #faad81;
  font-size: 50px;
  text-align: center;
  margin-bottom: 1em;
  font-weight: 600;
  font-style: italic;
}
.team-grid {
  text-align: center;
}
.col-xs-4 {
  width: 20%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}
/*-- Team --*/

.team {
  background: #f5f5f5;
  padding: 5em 0;
}

.team-grid {
  text-align: center;
}

.team-grid h4 {
  font-size: 25px;
  color: #000;
  font-weight: 600;
  margin: 40px 0 20px;
}

.stack img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  border: 10px solid #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.stack:last-of-type {
  margin-right: 0;
}

/* Third stack example (One stack element rotated in the opposite direction) */

.stack.twisted:before {
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -o-transform: rotate(4deg);
}

.stack.twisted:after {
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
}

/* Reset all rotations on hover */

.stack:hover:before,
.stack:hover:after,
.team-grid:hover .stack:before,
.team-grid:hover .stack:after {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
}

/* Stacks creted by the use of generated content */

.stack:before,
.stack:after {
  content: "";
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 10px solid #fff;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s all ease-out;
  -moz-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  -ms-transition: 0.3s all ease-out;
}

.stack:before {
  top: 4px;
  z-index: -10;
}

/* 1st element in stack (behind image) */

.stack:after {
  top: 8px;
  z-index: -20;
}

/* 2nd element in stack (behind image) */

.stack {
  float: none;
  width: 92%;
  margin: 3% 0% 8% 4%;
  position: relative;
  z-index: 1;
}

/*-- //Team --*/

/*Userlist and details pages responsive */

.list-container{
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-gap: 30px;
    align-items: stretch;
}
.list{
	border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    height:400px; 
    position: relative; 
	margin: auto auto auto;
	text-align: center;
	align-items: center;
	width: fit-content;
}

@media (max-width: 800px) {
.main1{
  width:100%;
}
.list-container {
  width: 90%;
  margin: 0 auto;
  padding:0;
  width:fit-content;
}
  .list {
    margin: 0 auto;
}
  .event-details-c{
    margin: 0 auto;
  }
  .event-details-l{
    width: fit-content;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-top: auto;
    background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 20px;
      font-size: 15px;
      text-align: center;
      box-sizing: border-box;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    border: 1px solid #ccc;
  }
  .detail-h1{
    font-size: x-large;
    margin-top: 5px;
  }
  .detail-3-1{
    margin-top: 5px;
    font-size: large;
  }
  .detail-4{
    margin-top: 5px;
    font-size: large;
  }
  .detail-p{
    margin-top: 10px;
  }
  .details-img{
    width: fit-content;
    height: fit-content;
  }
}
.social-nav li {
  display: inline-block;
}

.social-nav a {
  display: inline-block;
  float: none;
  width: 30px;
  height: 30px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  background: #000;
  position: relative;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.model-3d-0 a {
  background: #5C5B5B;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.model-3d-0 .front,
.model-3d-0 .back {
  width: 30px;
  height: 30px;
  font-size: 1em;
  color: #fff;
  background: #faad81;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateZ(18px);
  -moz-transform: translateZ(18px);
  -ms-transform: translateZ(18px);
  -o-transform: translateZ(18px);
  transform: translateZ(18px);
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -ms-backface-visibility: visible;
  -o-backface-visibility: visible;
  backface-visibility: visible;
}

.model-3d-0 .back {
  font-size: 1em;
  color: #fff;
  -webkit-transform: rotateX(90deg) translateZ(18px);
  -moz-transform: rotateX(90deg) translateZ(18px);
  -ms-transform: rotateX(90deg) translateZ(18px);
  -o-transform: rotateX(90deg) translateZ(18px);
  transform: rotateX(90deg) translateZ(18px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.github .back,
.linkedin .back {
  background: #81cdfa;
}

.model-3d-0 a:hover {
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.model-3d-0 a:hover .back {
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -ms-backface-visibility: visible;
  -o-backface-visibility: visible;
  backface-visibility: visible;
}




/*Hero images*/

.main {
overflow: hidden;
}
.content aside {
border-bottom: solid .5em #ffcd34;
}
.content aside:last-of-type {
border-bottom: none;
}
.content .inner-content {
padding: 3em 0;
}
.section-one .inner-content {
background-image: url(https://cdn.pixabay.com/photo/2017/11/24/10/43/admission-2974645_1280.jpg);
background-size:cover;
background-position: center;
opacity: 0.8;
}
.section-two .inner-content {
background-image: url(https://cdn.pixabay.com/photo/2020/07/01/23/23/music-5361245_1280.jpg);
background-size: cover;
background-position: center;
opacity: 0.8;
}
.section-three .inner-content {
background-image: url(https://cdn.pixabay.com/photo/2015/05/15/14/50/concert-768722_1280.jpg);
background-size: cover;
opacity: 0.8;
background-position: center;
}
.inner-content .content-block {
position: relative;
top: 15%;
display: flex;
flex-direction: column;
justify-content: flex-end;
max-width: 70%;
min-width: 12em;
min-height: 15em;
margin: 0 auto;
padding: 1em;
opacity: .9;
background: rgba(31, 29, 29, 0.014);
color: rgb(245, 237, 237);
border-radius: 3px;
text-align: center;
font-family:monospace;
font-size: 20px;
width: fit-content;
height: fit-content;
font-weight: bolder;
}
.content-block button {
min-width: 10em;
margin: 2em 0;
font-size: 1.125rem;
font-weight: bold;
text-transform: uppercase;
border-radius: 3px;
border: 1px solid #cccccc;
background: #ffcd34;
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
text-shadow: 1px 1px 2px #aaa;
padding: .5em 1em;
}
.content-block button:hover {
background: #ffe080;
}

@media (hover: hover), (min-width: 1000px){ 
.content {
  display: flex;
  width: 120%;
  margin: 0 -10%;
}
.content aside {
  overflow: hidden;
  padding-bottom: 30em;
  width: 33%;
  transform: skewX(-10deg); 
  border: solid .25em #ffcd34;
  border-top: none;
  border-bottom: none;
  transition: width 1.2s ease-in-out;
}
.content .inner-content {
  position: absolute;
  top: 0;
  left: -15%;
  width: 130%;
  height: 100%;
  transform: skewX(10deg); 
  padding: 0;
}
.inner-content .content-block {
  max-width: 35%;
}
.section-one .content-block {
  left: 8%;
}
.section-three .content-block {
  right: 8%;
}
.section-one:hover, .section-two:hover, .section-three:hover{
  width: 75%;
}
}