<!DOCTYPE html>
<html lang="en">

<head>
   
    <title>Login-page</title>
<%- include('../layout/head') %>

</head>

<body id="signIn">
    <div id="login" class="animated bounce">
        <h2>login</h2>
        <p>Welcome back  👋</p>
        <form action=""  method="GET">
            <div class="input">
                <label for="name" class="entypo-user"></label>
                <input type="text" name="username" id="name" placeholder="username" />
            </div>
            <div class="input">
                <label for="name" class="entypo-lock"></label>
                <input type="password" name="password" " id="pw " placeholder="•••••• " />
            </div>
            <input type="submit" value="Sign In " />
           <p>You do not have an account? <a href='/sign-Up' target="_blank" rel="noopener noreferrer">Register now</a> </p> 

        </form>
          
    </div>
</body>

</html>