<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/reset.css">
    <link rel="stylesheet" href="/public/styles/base.css">
    <link rel="stylesheet" href="/public/styles/layout.css">
    <link rel="stylesheet" href="/public/styles/module.css">
    <title>About Us</title>
</head> -->
<%- include('./layout/head.ejs') %>
<body>
    <%- include('./layout/header.ejs') %>
    <main>
        <div class="team" id="team">
            <!-- <div class="container2"> -->
            <h3 class="title">Node Titans Team</h3>
            <div class="team-grids">
                <div class="col-xs-4 team-grid">
                    <div class="pic">
                        <div class="stack twisted">
                            <img src="/img/duha.PNG" alt=" " class="img-responsive">
                        </div>
                    </div>
                    <h4>Duha Al-Azzm</h4>
                </div>
                <div class="col-xs-4 team-grid">
                    <div class="pic">
                        <div class="stack twisted">
                            <img src="/img/monther.PNG" alt=" " class="img-responsive">
                        </div>
                    </div>
                    <h4>Monther Al-Khawaldeh</h4>
                </div>
                <div class="col-xs-4 team-grid">
                    <div class="pic">
                        <div class="stack twisted">
                            <img src="/img/manar.PNG" alt=" " class="img-responsive">
                        </div>
                    </div>
                    <h4>Manar AbdelKarim</h4>
                </div>
                <div class="col-xs-4 team-grid">
                    <div class="pic">
                        <div class="stack twisted">
                            <img src="/img/noura.PNG" alt=" " class="img-responsive">
                        </div>
                    </div>
                    <h4>Noura Al-Quraan </h4>
                </div>
                <div class="col-xs-4 team-grid">
                    <div class="pic">
                        <div class="stack twisted">
                            <img src="/img/obada.PNG" alt=" " class="img-responsive">
                        </div>
                    </div>
                    <h4>Obada Al-Athamneh</h4>
                </div>
                <div class="clearfix"> </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
    </main>
    <%- include('./layout/footer.ejs') %>
</body>
</html>